/*
 * SPDX-FileCopyrightText: 2025 Ryan Cao <hello@ryanccn.dev>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@use "../colors";

.entry-meta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;

  > span {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.25rem;
  }
}

.entry-date {
  font-size: 0.8rem;
}

.entry header {
  padding-bottom: 1.5rem;

  h1 a:hover,
  h1 a:focus {
    color: colors.$fg1;
  }
}

.pagination-entry-top,
.pagination-entry-bottom {
  padding-top: 1.5rem;
}

.entry-actions,
.entry-meta,
.entry-tags {
  margin-top: 0;
  margin-bottom: 1rem;
}

.entry-actions > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;

  > li {
    display: contents;
    margin-right: 0;

    > button,
    > a {
      display: flex;
      flex-direction: row;
      column-gap: 0.25rem;
      align-items: center;
    }
  }
}

.entry-content {
  line-height: 1.5;

  img {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  blockquote {
    border-color: colors.$fg2;
    border-width: 2.5px;
  }

  figcaption {
    color: colors.$fg2;
  }
}
