/*
 * SPDX-FileCopyrightText: 2025 Ryan Cao <hello@ryanccn.dev>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@use "../colors";

.header nav {
  display: flex;
  flex-wrap: wrap;

  flex-direction: column;
  align-items: start;
  gap: 0.5rem;

  @media (min-width: 600px) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  ul#header-menu {
    display: none;

    list-style-type: none;

    flex-direction: column;
    align-items: start;
    column-gap: 0.5rem;
    row-gap: 0.75rem;
    list-style-type: none;

    margin-top: 0.5rem;

    &.js-menu-show {
      display: flex;
    }

    @media (min-width: 600px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 0;
    }

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 0.25rem;
      line-height: 1.2rem;

      border: none;

      padding: 0;

      @media (min-width: 600px) {
        padding: 0.15rem;
      }
    }
  }

  .search {
    flex-basis: 100%;
    margin: 0;
  }
}

.header li.active a:hover {
  opacity: 0.95;
}

.logo a:hover,
.logo a span {
  color: colors.$accent;
}

section.page-header,
section.page-footer {
  margin-top: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.875rem;

  h1 a:hover,
  h1 a:focus {
    opacity: 0.975;
  }

  ul {
    display: flex;
    flex-direction: column;

    gap: 0.5rem;

    @media (min-width: 600px) {
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
    }

    > li {
      padding-right: 0;
      line-height: 100%;

      > :is(a, button, span.confirm),
      > form > :is(a, button, span.confirm) {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.25rem;

        font-size: 0.9rem;

        text-decoration: none;
        padding: 0.5rem 0.75rem;
        border-radius: 0.35rem;
        background-color: colors.$bg1;

        &.confirm {
          display: block;
          background-color: color-mix(in srgb, colors.$danger 20%, transparent);

          button {
            color: colors.$danger;
            text-decoration: underline;
            text-underline-offset: 2.5px;
          }
        }

        > .icon {
          padding-bottom: 0;
        }
      }
    }
  }
}

.entry-header {
  margin-top: 1.5rem;
}

.confirm {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0.1rem 0.5rem;
  border-radius: 0.35rem;
  background-color: color-mix(in srgb, colors.$danger 20%, transparent);

  color: colors.$danger;

  button,
  a {
    color: colors.$danger;
    &:first-of-type {
      margin-left: 0.25rem;
    }
  }
}
