.header nav {
  display: flex;
  flex-wrap: wrap;

  flex-direction: column;
  align-items: start;
  gap: 0.5rem;

  @media (min-width: 600px) {
    flex-direction: row;
    align-items: center;
  }

  ul {
    display: none;
    &[style*="display: block;"] {
      display: flex !important;
    }

    flex-direction: column;
    align-items: start;
    column-gap: 0.5rem;
    row-gap: 0.75rem;

    margin-top: 0.5rem;

    @media (min-width: 600px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 0;
    }

    list-style-type: none;

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 0.25rem;
      line-height: 1.2rem;

      padding: 0;
      @media (min-width: 600px) {
        padding: 0.15rem;
      }
    }
  }

  .search {
    flex-basis: 100%;
    margin: 0;
  }
}

.header li.active a:hover {
  color: lighten($teal, 5%);
}

.logo a:hover,
.logo a span {
  color: $teal;
}

section.page-header,
section.page-footer {
  margin-top: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.875rem;

  & h1 a:hover,
  & h1 a:focus {
    color: lighten($text, 2.5%);
  }

  & > ul {
    display: flex;
    flex-direction: column;

    @media (min-width: 600px) {
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
    }

    gap: 0.5rem;

    & > li {
      padding-right: 0;
    }

    & > li > a {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      gap: 0.25rem;

      text-decoration: none;
      padding: 0.1rem 0.5rem;
      border-radius: 0.25rem;
      background-color: $surface0;

      & > .icon {
        padding-bottom: 0;
      }
    }
  }
}

.entry-header {
  margin-top: 1.5rem;
}

.confirm {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0.1rem 0.5rem;
  border-radius: 0.25rem;
  background-color: transparentize($red, 0.8);

  &,
  & a {
    color: $red;
  }

  & a:first-of-type {
    margin-left: 0.25rem;
  }
}
