.item {
  padding: 1rem;
  border-radius: 0.35rem;
  border-width: 1px;
  border-style: solid;
  border-color: $bg1;

  transition-property: border-color;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

.item:hover {
  border-color: $bg2;
}

.item-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.25rem;
}

.item-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5rem;
}

.item-meta-info {
  color: $fg2;
}

.item-meta-icons {
  display: flex;
  align-items: center;
}

.parsing-error {
  margin-top: 0.5rem;
}

.alert {
  padding: 1rem;
}
