/*
 * SPDX-FileCopyrightText: 2025 Ryan Cao <hello@ryanccn.dev>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@use "../colors";

.item {
  padding: 1rem;
  border-radius: 0.35rem;
  border-width: 1px;
  border-style: solid;
  border-color: colors.$bg1;

  transition-property: border-color;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

.item:hover {
  border-color: colors.$bg2;
}

.item-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.25rem;
}

.item-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5rem;
}

.item-meta-info {
  color: colors.$fg2;
}

.item-meta-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  li {
    display: flex;
    flex-direction: row;
    align-items: center;

    > :is(a, button) {
      color: colors.$fg1;
    }

    :is(a:is(:focus, :hover), button:is(:focus, :hover)) {
      color: colors.$fg2;
    }
  }
}

.parsing-error {
  margin-top: 0.5rem;
}

.alert {
  padding: 1rem;
}

article.feed-parsing-error {
  background: none;
  border-style: solid;
  border-width: 1.5px;
  border-color: colors.$danger;

  &:hover {
    border-color: colors.$danger;
  }
}
