a {
  text-underline-offset: 2px;

  transition-property: color;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;

  &:has(svg) {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.25rem;
  }
}

.pagination {
  justify-content: space-between;
}

.pagination-top {
  margin-bottom: 2rem;
}

.pagination-prev,
.pagination-next {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.35rem;
}

.panel {
  padding: 1rem;
  line-height: 1.35rem;
}
