html {
  accent-color: $accent;
}

body {
  color-scheme: $color-scheme;
  overflow-y: scroll;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}

main {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

::selection {
  background-color: $accent;
  color: $base;
}
