:root {
  --body-color: #{$fg0};
  --body-background: #{$bg0};
  --hr-border-color: #{$bg1};
  --title-color: #{$fg0};
  --link-color: #{$fg1};
  --link-focus-color: #{$fg2};
  --link-hover-color: #{$fg2};
  --link-visited-color: #{$bg1};
  --header-link-color: #{$fg1};
  --header-link-focus-color: #{$accent};
  --header-link-hover-color: #{$accent};
  --header-active-link-color: #{$accent};
  --page-header-title-color: #{$fg0};
  --page-header-title-border-color: #{$bg1};
  --logo-color: #{$fg0};
  --logo-hover-color-span: #{$fg0};
  --table-border-color: #{$bg1};
  --table-th-background: #{$bg1};
  --table-th-color: #{$fg1};
  --table-tr-hover-background-color: #{$bg0};
  --table-tr-hover-color: #{$fg2};
  --button-primary-border-color: #{$bg1};
  --button-primary-background: #{$accent};
  --button-primary-color: #{$bg1};
  --button-primary-focus-border-color: #{$accent};
  --button-primary-focus-background: #{$accent};
  --input-border: none;
  --input-background: #{$bg1};
  --input-color: #{$fg0};
  --input-placeholder-color: #{$fg1};
  --input-focus-color: #{$fg0};
  --input-focus-border-color: transparent;
  --input-focus-box-shadow: none;
  --alert-color: #{$fg0};
  --alert-background-color: #{$bg1};
  --alert-border-color: #{$bg1};
  --alert-success-color: #{$bg0};
  --alert-success-background-color: #{$success};
  --alert-success-border-color: #{$bg1};
  --alert-error-color: #{$bg0};
  --alert-error-background-color: #{$danger};
  --alert-error-border-color: #{$bg1};
  --alert-info-color: #{$fg0};
  --alert-info-background-color: #{$bg1};
  --alert-info-border-color: #{$bg1};
  --panel-background: #{$bg1};
  --panel-border-color: #{$bg1};
  --panel-color: #{$fg0};
  --modal-background: #{$bg1};
  --modal-color: #{$fg0};
  --pagination-link-color: #{$fg0};
  --category-color: #{$fg0};
  --category-background-color: #{$bg1};
  --category-border-color: #{$bg2};
  --category-link-color: #{$accent};
  --category-link-hover-color: #{$fg2};
  --item-border-color: #{$bg1};
  --item-title-link-font-weight: 400;
  --item-status-read-title-link-color: #{$fg1};
  --entry-header-border-color: #{$accent};
  --entry-header-title-link-color: #{$fg0};
  --entry-content-color: #{$fg1};
  --entry-content-quote-color: #{$fg2};
  --entry-content-code-color: #{$fg0};
  --entry-content-code-background: #{$bg1};
  --entry-content-code-border-color: transparent;
  --feed-parsing-error-background-color: #{$danger};
  --feed-parsing-error-border-color: #{$danger};
  --feed-has-unread-background-color: #{$bg1};
  --feed-has-unread-border-color: #{$bg1};
  --category-has-unread-background-color: #{$bg1};
  --category-has-unread-border-color: #{$bg1};
  --counter-color: #{$fg0};
  --item-meta-focus-color: #{$bg1};
}
