/*
 * SPDX-FileCopyrightText: 2025 Ryan Cao <hello@ryanccn.dev>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@use "../colors";

:root {
  --body-color: #{colors.$fg0};
  --body-background: #{colors.$bg0};
  --hr-border-color: #{colors.$bg1};
  --title-color: #{colors.$fg0};
  --link-color: #{colors.$fg0};
  --link-focus-color: #{colors.$fg1};
  --link-hover-color: #{colors.$fg1};
  --link-visited-color: #{colors.$bg1};
  --header-link-color: #{colors.$fg1};
  --header-link-focus-color: #{colors.$accent};
  --header-link-hover-color: #{colors.$accent};
  --header-active-link-color: #{colors.$accent};
  --page-header-title-color: #{colors.$fg0};
  --page-header-title-border-color: #{colors.$bg1};
  --logo-color: #{colors.$fg0};
  --logo-hover-color-span: #{colors.$fg0};
  --table-border-color: #{colors.$bg1};
  --table-th-background: #{colors.$bg1};
  --table-th-color: #{colors.$fg1};
  --table-tr-hover-background-color: #{colors.$bg0};
  --table-tr-hover-color: #{colors.$fg2};
  --button-primary-border-color: #{colors.$bg1};
  --button-primary-background: #{colors.$accent};
  --button-primary-color: #{colors.$bg1};
  --button-primary-focus-border-color: #{colors.$accent};
  --button-primary-focus-background: #{colors.$accent};
  --input-border: none;
  --input-background: #{colors.$bg1};
  --input-color: #{colors.$fg0};
  --input-placeholder-color: #{colors.$fg1};
  --input-focus-color: #{colors.$fg0};
  --input-focus-border-color: transparent;
  --input-focus-box-shadow: none;
  --alert-color: #{colors.$fg0};
  --alert-background-color: #{colors.$bg1};
  --alert-border-color: #{colors.$bg1};
  --alert-success-color: #{colors.$bg0};
  --alert-success-background-color: #{colors.$success};
  --alert-success-border-color: #{colors.$bg1};
  --alert-error-color: #{colors.$bg0};
  --alert-error-background-color: #{colors.$danger};
  --alert-error-border-color: #{colors.$bg1};
  --alert-info-color: #{colors.$fg0};
  --alert-info-background-color: #{colors.$bg1};
  --alert-info-border-color: #{colors.$bg1};
  --panel-background: #{colors.$bg1};
  --panel-border-color: #{colors.$bg1};
  --panel-color: #{colors.$fg0};
  --modal-background: #{colors.$bg1};
  --modal-color: #{colors.$fg0};
  --pagination-link-color: #{colors.$fg0};
  --pagination-border-color: #{colors.$fg2};
  --category-color: #{colors.$fg0};
  --category-background-color: #{colors.$bg1};
  --category-border-color: #{colors.$bg2};
  --category-link-color: #{colors.$accent};
  --category-link-hover-color: #{colors.$accent};
  --item-border-color: #{colors.$bg1};
  --item-title-link-font-weight: 400;
  --item-status-read-title-link-color: #{colors.$fg1};
  --entry-header-border-color: #{colors.$fg2};
  --entry-header-title-link-color: #{colors.$fg0};
  --entry-content-color: #{colors.$fg0};
  --entry-content-quote-color: #{colors.$fg1};
  --entry-content-code-color: #{colors.$fg0};
  --entry-content-code-background: #{colors.$bg1};
  --entry-content-code-border-color: transparent;
  --feed-parsing-error-background-color: #{colors.$danger};
  --feed-parsing-error-border-color: #{colors.$danger};
  --feed-has-unread-background-color: #{colors.$bg1};
  --feed-has-unread-border-color: #{colors.$bg1};
  --category-has-unread-background-color: #{colors.$bg1};
  --category-has-unread-border-color: #{colors.$bg1};
  --counter-color: #{colors.$fg0};
  --item-meta-focus-color: #{colors.$bg1};
  --parsing-error-color: #{colors.$danger};
  --item-meta-li-color: #{colors.$bg2};
}
