:root {
  --body-color: #{$text};
  --body-background: #{$base};
  --hr-border-color: #{$mantle};
  --title-color: #{$text};
  --link-color: #{$subtext0};
  --link-focus-color: #{$subtext1};
  --link-hover-color: #{$subtext1};
  --link-visited-color: #{$surface0};
  --header-link-color: #{$subtext0};
  --header-link-focus-color: #{$teal};
  --header-link-hover-color: #{$teal};
  --header-active-link-color: #{$teal};
  --page-header-title-color: #{$text};
  --page-header-title-border-color: #{$mantle};
  --logo-color: #{$text};
  --logo-hover-color-span: #{$text};
  --table-border-color: #{$mantle};
  --table-th-background: #{$mantle};
  --table-th-color: #{$subtext0};
  --table-tr-hover-background-color: #{$base};
  --table-tr-hover-color: #{$subtext1};
  --button-primary-border-color: #{$mantle};
  --button-primary-background: #{$teal};
  --button-primary-color: #{$mantle};
  --button-primary-focus-border-color: #{$teal};
  --button-primary-focus-background: #{$sky};
  --input-border: none;
  --input-background: #{$surface0};
  --input-color: #{$text};
  --input-placeholder-color: #{$subtext0};
  --input-focus-color: #{$text};
  --input-focus-border-color: transparent;
  --input-focus-box-shadow: none;
  --alert-color: #{$text};
  --alert-background-color: #{$surface0};
  --alert-border-color: #{$mantle};
  --alert-success-color: #{$base};
  --alert-success-background-color: #{$green};
  --alert-success-border-color: #{$mantle};
  --alert-error-color: #{$base};
  --alert-error-background-color: #{$red};
  --alert-error-border-color: #{$mantle};
  --alert-info-color: #{$text};
  --alert-info-background-color: #{$surface0};
  --alert-info-border-color: #{$mantle};
  --panel-background: #{$surface0};
  --panel-border-color: #{$mantle};
  --panel-color: #{$text};
  --modal-background: #{$surface0};
  --modal-color: #{$text};
  --pagination-link-color: #{$text};
  --category-color: #{$text};
  --category-background-color: #{$surface0};
  --category-border-color: #{$surface1};
  --category-link-color: #{$teal};
  --category-link-hover-color: #{$subtext1};
  --item-border-color: #{$overlay0};
  --item-title-link-font-weight: 400;
  --item-status-read-title-link-color: #{$subtext0};
  --entry-header-border-color: #{$teal};
  --entry-header-title-link-color: #{$text};
  --entry-content-color: #{$subtext0};
  --feed-parsing-error-background-color: #{$maroon};
  --feed-parsing-error-border-color: #{$red};
  --feed-has-unread-background-color: #{$surface0};
  --feed-has-unread-border-color: #{$mantle};
  --category-has-unread-background-color: #{$surface0};
  --category-has-unread-border-color: #{$mantle};
  --counter-color: #{$text};
  --item-meta-focus-color: #{$surface0};
}
