/*
 * SPDX-FileCopyrightText: 2023 Steph Ango
 * SPDX-FileCopyrightText: 2025 Ryan Cao <hello@ryanccn.dev>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

$black: #100f0f;
$base-950: #1c1b1a;
$base-900: #282726;
$base-850: #343331;
$base-800: #403e3c;
$base-700: #575653;
$base-600: #6f6e69;
$base-500: #878580;
$base-300: #b7b5ac;
$base-200: #cecdc3;
$base-150: #dad8ce;
$base-100: #e6e4d9;
$base-50: #f2f0e5;
$paper: #fffcf0;

$red-600: #af3029;
$red-400: #d14d41;
$orange-600: #bc5215;
$orange-400: #da702c;
$yellow-600: #ad8301;
$yellow-400: #d0a215;
$green-600: #66800b;
$green-400: #879a39;
$cyan-600: #24837b;
$cyan-400: #3aa99f;
$blue-600: #205ea6;
$blue-400: #4385be;
$purple-600: #5e409d;
$purple-400: #8b7ec8;
$magenta-600: #a02f6f;
$magenta-400: #ce5d97;
