$color-scheme: var(--modernflux-color-scheme);

$fg0: var(--modernflux-fg0);
$fg1: var(--modernflux-fg1);
$fg2: var(--modernflux-fg2);

$bg0: var(--modernflux-bg0);
$bg1: var(--modernflux-bg1);
$bg2: var(--modernflux-bg2);

$accent: var(--modernflux-accent);
$success: var(--modernflux-success);
$danger: var(--modernflux-danger);
